.lilyPadStart, .JackTheFrog {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 75px);
}

body {
  height: 100vh;
}

.lilyPadEnd {
  position: fixed;
  top: 75px;
  left: calc(50% - 75px);
}

body {
  background-image: url('./images/download.jpeg');
}

#failed {
  display: none;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

#success {
  display: none;
  color: #18ed11;
  font-weight: bold;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: #5eed11;

}

.gameStatus {
  position: fixed;
  font-size: 30px;
  color: #ed1111;
  display: none;
  top: 300px;
  width: 100%;
}

.gameStatus h1 {
  text-align: center;
  top: 250px;
  color: #ed1111;
}

#life1 {
  display: block;
}

#life2 {
  display: block;
}

#life3 {
  display: block;
}

.resetBTN {
  display: none;
  width: 100px;
  height: 75px;
}

.JackTheFrog {
  display: block;
}
