.grid {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 450px;
  margin: auto;
  color: rgb(164, 219, 252);
}

.grid img {
  border: 5px solid;
  border-color: rgb(164, 219, 252);
}

body {
  background: rgb(164, 219, 252);

}
